<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="KoboDictionaryEntities" connectionString="metadata=res://*/Model.ClassyTDModel.csdl|res://*/Model.ClassyTDModel.ssdl|res://*/Model.ClassyTDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THONGTH\SQLEXPRESS;initial catalog=KoboDictionary;persist security info=True;user id=sa;password=Admin123@123a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <!--https://www.dropbox.com/developers/apps/info/ujjc0xpq3sd4nxu-->
    <add key="dropbox_token" value="G8LbZ0BsOmwAAAAAAAAGBswtjITm6cFgwIkO1YPdDCejCDI_b_G5-c9Ac8k11g32" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
